<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
	<title>Account Performance Report</title>

    <!-- In the next style section you can add a Font Family for PDF Generation
		 Rempember to add it to the Properties file as well, for example:

    * { font-family: "Arial Unicode MS"; }

    -->

	<style type="text/css">
	@page { size: 18in 10in; padding: 1em; }
	.header table { border-collapse: collapse; text-align: center; width: 100%; } 
	.header table th { font-size: 18; font-weight: bold; }
	.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } 
	.datagrid {font: normal 12px/150%; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
	.datagrid table td, .datagrid table th { padding: 3px 10px; }
	.datagrid table thead, .datagrid table th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4285f4), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #4285f4 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#4285f4; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } 
	.datagrid table thead th:first-child { border: none; }
	.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }
	.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }
	.datagrid table tbody td:first-child { border-left: none; }
	.datagrid table tbody tr:last-child td { border-bottom: none; }
	.datagrid table tr:hover { background-color: lightblue; }
	</style>
</head>
<body>
	<TABLE WIDTH = "100%"><TR><TD>
	<IMG SRC="FILE:partners-badge.png" width="300px"></IMG>
		<div id="Partnerlogo" class="media"
		  data-src="src/main/resources/templates/partners-badge.png"
		  style="width: 300px;" 
		/>
	</TD><TD>
	<IMG SRC="FILE:google.jpg" width="200px"></IMG>
		<div id="logo" class="media"
		  data-src="src/main/resources/templates/google.jpg"
		  style="width: 200px; position:absolute; top:30px; right:5px; "
		/>
	</TD></TR></TABLE>
<TABLE WIDTH = "100%" BORDER = "0"><TR><TD>
	<H3 style="font-size: 120%; font-weight: 400; text-align: left;">
		Google Inc <br />
		Gordon House,  <br />
		Barrow St, <br />
		Dublin 4, <br />
		Ireland <br />
		<P />
	</H3></TD></TR></TABLE>

<br />

	<H1 style="font-size: 250%; font-weight: 700; text-align: center;">
			Account Performance Report
	</H1>

<br /><br />
<div class="datagrid">
	<table WIDTH="100%">
		<tr>
			<th>Account Name</th>
			<th>AccountId</th>
			<th>Month</th>
			<th>Cost</th>
			<th>Impressions</th>
			<th>Clicks</th>
			<th>AvgCPC</th>
			<th>AvgCPM</th>
		</tr>
		<tbody>
			{{#ACCOUNT_PERFORMANCE_REPORT}}
			<tr>
				<td>{{AccountDescriptiveName}}</td>
				<td style="text-align: right; background: #E1EEF4; color: #00496B;">{{AccountId}}</td>
				<td style="text-align: right;">{{month}}</td>
				<td style="text-align: right; background: #E1EEF4; color: #00496B;">{{cost}}</td>
				<td style="text-align: right;">{{impressions}}</td>
				<td style="text-align: right; background: #E1EEF4; color: #00496B;">{{clicks}}</td>
				<td style="text-align: right;">{{avgCpc}}</td>
				<td style="text-align: right; background: #E1EEF4; color: #00496B;">{{avgCpm}}</td>
				</tr>
			{{/ACCOUNT_PERFORMANCE_REPORT}}
		</tbody>
	</table>
	</div>
</body>
</html>
