<html>
<head>
	<title>Account Report Test</title>
	  <style type="text/css">
	@page { 
	size: 18in 10in;
	padding: 1em;
	}
	th { padding: 5px; text-align: center; background-color: blue;
color:white; }
	tr {background-color: #99CCFF;}
  /* Next two lines will work with CSS3, but isn't supported for PDF generation here */
	tr:nth-child(even) {background-color: #77CCFF;}
	tr:nth-child(odd) {background-color: #99CCFF;}
  /* Remove the background-color here to get alternating shades in HTML from above */
	td {padding: 5px; text-align: center;}
	p {margin-top: 1.5em; margin-bottom: 1.5em;}
	</style>
</head>
<body>
	<p />

		<IMG SRC="FILE:google.jpg" width="200px"></IMG>
		<div id="logo" class="media"
		  data-src="src/main/resources/templates/google.jpg"
		  style="width: 300px;" />
		<CENTER>
		<H1 style="font-size: 250%; font-weight: 700; text-align: center;">
		</H1>
		</CENTER>
<p />
	<table border="1" style="border-collapse:collapse; padding: 2px;">
		<thead>
		<tr>
			<th>Account Name</th>
			<th>AccountId</th>
			<th>Impressions</th>
			<th>Cost</th>
			<th>Clicks</th>
			<th>AvgCPC</th>
			<th>AvgCPM</th>
		</tr>
		</thead>
		<tbody>
			{{#ACCOUNT_PERFORMANCE_REPORT}}
			<tr>
				<td>{{AccountDescriptiveName}}</td>
				<td style="text-align: right;">{{AccountId}}</td>
				<td style="text-align: right;">{{impressions}}</td>
				<td style="text-align: right;">{{cost}}</td>
				<td style="text-align: right;">{{clicks}}</td>
				<td style="text-align: right;">{{avgCpc}}</td>
				<td style="text-align: right;">{{avgCpm}}</td>
				</tr>
			{{/ACCOUNT_PERFORMANCE_REPORT}}
		</tbody>
	</table>
</body>
</html>

		


