<html>
<head>
	<title>Account Performance Report</title>
	<style type="text/css">
	.header table { border-collapse: collapse; text-align: center; width: 100%; } 
	.header table th { font-size: 18; font-weight: bold; }
	.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } 
	.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
	.datagrid table td, .datagrid table th { padding: 3px 10px; }
	.datagrid table thead, .datagrid table th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4285f4), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #4285f4 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#4285f4; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } 
	.datagrid table thead th:first-child { border: none; }
	.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }
	.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }
	.datagrid table tbody td:first-child { border-left: none; }
	.datagrid table tbody tr:last-child td { border-bottom: none; }
	.datagrid table tr:hover { background-color: lightblue; }
	H2, h2 {font-size: 120%; font-weight: 700; text-align: left;}
	</style>
</head>
<body>
	<TABLE WIDTH = "100%"><TR><TD>
	<IMG SRC="FILE:partners-badge.png" width="300px"></IMG>
		<div id="Partnerlogo" class="media"
		  data-src="partners-badge.png"
		  style="width: 300px;" 
		/>
	</TD><TD>
	<IMG SRC="FILE:google.jpg" width="200px"></IMG>
		<div id="logo" class="media"
		  data-src="google.jpg"
		  style="width: 200px; position:absolute; top:30px; right:5px; "
		/>
	</TD></TR></TABLE>

	<H3 style="font-size: 120%; font-weight: 400; text-align: left;">
		Google Inc <br />
		Gordon House, <br />
		Barrow St, <br />
		Dublin 4, <br />
		Ireland <br />
	</H3>
<BR>
<table CELLPADDING="100"><tr><td style="padding: 10px 10px;">
</td></tr></table>
</BR>
<CENTER>
	<H1 style="font-size: 190%; font-weight: 700; text-align: center">Your AdWords Account Performance Report</H1>    
</CENTER>

			{{#ACCOUNT_PERFORMANCE_REPORT}}

		<table CELLPADDING="10" CELLSPACING="40" style="width: 100%">
				<tr><td style="padding: 10px 10px;">
				<H1 style="font-size: 120%; font-weight: 700; text-align: left;">{{AccountDescriptiveName}} ({{AccountId}})</H1></td>
				<td style="text-align: right; font-size: 100%;">For the month starting: 
					<H2 style="font-size: 120%; font-weight: 300;">{{month}}</H2>
				</td>
			</tr></table>
			<BR />
			<table CELLPADDING="200" CELLSPACING="10" WIDTH="100%" style="width: 100%">
				<tr>
				<td style="padding: 40px 40px; text-align: left; font-size: 160%; background: #E1EEF4; color: #00496B;">You spent 
					<H2 style="font-size: 200%; font-weight: 700;">{{cost}} {{currencyCode}}</H2> on Adwords this month.
				</td></tr>
				<tr>
				<td style="padding: 40px 100px; text-align: right; font-size: 160%; background: #4285f4; color: #00496B;">Your ads were shown <H2 style="font-size: 200%; font-weight: 700;">{{impressions}}</H2><BR /> times, 
				</td></tr>
				<tr>
				<td	style="padding: 40px 100px; text-align: right; font-size: 160%; background: #E1EEF4; color: #00496B;">Were clicked on <BR /> <H2 style="font-size: 200%; font-weight: 700;">{{clicks}}</H2><BR /> times,
				</td></tr>
				<tr>
				<td style="padding: 40px 40px; text-align: right; font-size: 160%; background: #4285f4; color: #00496B;">And this gained you 
				<H2 style="font-size: 200%; font-weight: 700;">{{conversions}}</H2> registered conversions
			    </td></tr>
			</table>
			<BR>
<table CELLPADDING="100"><tr><td style="padding: 20px 50px;">
</td></tr></table>
</BR>
<H2>Your Account Performance:</H2>

<BR>
<table CELLPADDING="100"><tr><td style="padding: 10px 10px;">
</td></tr></table>
</BR>
			<table CELLPADDING="100" CELLSPACING="10" BORDER="1" style="width: 100%; border: 1"><tr>
				<td style="text-align: left; font-size: 120%">
					Average Cost Per Click: <H2 style="font-size: 160%; font-weight: 300;">{{avgCpc}} {{currencyCode}}</H2>
				</td>
				<td style="text-align: center; font-size: 120%; background: #E1EEF4; color: #00496B;">
					Average Cost Per Thousand Impressions: <H2 style="font-size: 160%; font-weight: 300;">{{avgCpm}} {{currencyCode}}</H2>
				</td>
				<td style="text-align: right; font-size: 120%">and a Click Through Rate of: 
				<H2 style="font-size: 160%; font-weight: 300;">{{ctr}}</H2>
			</td></tr></table>
			<BR />
			<table WIDTH="100%" CELLPADDING="100" CELLSPACING="40" BORDER="1" style="width: 100%; border: 1"><tr>
				<td style="text-align: left; font-size: 120%; background: #E1EEF4; color: #66496B;">Search Impression Share: 
					<H2 style="font-size: 160%; font-weight: 300;">{{searchImpressionShare}}</H2> </td>
				<td style="text-align: center; font-size: 120%">Lost Impression Share due to your Budget: 
					<H2 style="font-size: 160%; font-weight: 300;">{{searchLostISBudget}}</H2> </td>
				<td style="text-align: right; font-size: 120%; background: #E1EEF4; color: #00496B;">Lost Impression Share due to your Ranking: 
					<H2 style="font-size: 160%; font-weight: 300;">{{searchLostISRank}} </H2></td>
			</tr></table>

			{{/ACCOUNT_PERFORMANCE_REPORT}}

<BR>
<table CELLPADDING="100"><tr><td style="padding: 20px 10px;">
</td></tr></table>
</BR>
<H2>Your AdExtensions have attracted attention to your ads:</H2>
<BR>
<table CELLPADDING="100"><tr><td style="padding: 10px 10px;">
</td></tr></table>
</BR>
<div class="datagrid">
<table><tbody>
<tr>
	<th>AdExtension Type</th>
	<th>Impressions gained</th>
	<th>Clicks received</th>
</tr>
{{#ADEXTENSIONS}}
<tr>
<td style="text-align: left; background: #E1EEF4; color: #00496B;">{{clickType}}</td>
<td style="text-align: right;">{{impressions}}</td>
<td style="text-align: right; background: #E1EEF4; color: #00496B;">{{clicks}}</td>
</tr>
{{/ADEXTENSIONS}}
</tbody></table></div>


<BR>
<table CELLPADDING="100"><tr><td style="padding: 20px 50px;">
</td></tr></table>
</BR>
<H2>And your Campaigns have gathered the following statistics:</H2>
<BR>
<table CELLPADDING="100"><tr><td style="padding: 10px 10px;">
</td></tr></table>
</BR>

<div class="datagrid">
		<table WIDTH="100%">
		<tbody>
			<tr>
				<th>Campaign Name</th>
				<th>CampaignId</th>
				<th>Month</th>
				<th>Cost</th>
				<th>Impressions</th>
				<th>Clicks</th>
				<th>AvgCPC</th>
				<th>AvgCPM</th>
			</tr>
			{{#CAMPAIGN_PERFORMANCE_REPORT}}
			<tr>
				<td>{{CampaignName}}</td>
				<td style="text-align: right; background: #E1EEF4; color: #00496B;">{{CampaignId}}</td>
				<td style="text-align: right;">{{month}}</td>
				<td style="text-align: right; background: #E1EEF4; color: #00496B;">{{cost}}</td>
				<td style="text-align: right;">{{impressions}}</td>
				<td style="text-align: right; background: #E1EEF4; color: #00496B;">{{clicks}}</td>
				<td style="text-align: right;">{{avgCpc}}</td>
				<td style="text-align: right; background: #E1EEF4; color: #00496B;">{{avgCpm}}</td>
			</tr>
			{{/CAMPAIGN_PERFORMANCE_REPORT}}
        </tbody>
        </table>

	</div>

</body>
</html>