<html>
<head>
	<title>{{title}}</title>
	<style type="text/css">
	@page { size: 18in 10in; padding: 1em; }
	.header table { border-collapse: collapse; text-align: center; width: 100%; } 
	.header table th { font-size: 18; font-weight: bold; }
	.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } 
	.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
	.datagrid table td, .datagrid table th { padding: 3px 10px; }
	.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4285f4), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #4285f4 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#4285f4; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } 
	.datagrid table thead th:first-child { border: none; }
	.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }
	.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }
	.datagrid table tbody td:first-child { border-left: none; }
	.datagrid table tbody tr:last-child td { border-bottom: none; }
	.datagrid table colgroup .altcolour { background: #E1EEF4; color: #00496B; }
	.datagrid table tr:hover { background-color: lightblue; }
	</style>
</head>
<body>
	<TABLE WIDTH = "100%"><TR><TD>
	<IMG SRC="FILE:partners-badge.png" width="300px"></IMG>
		<div id="Partnerlogo" class="media"
		  data-src="src/main/resources/templates/partners-badge.png"
		  style="width: 300px;" 
		/>
	</TD><TD>
	<IMG SRC="FILE:google.jpg" width="200px"></IMG>
		<div id="logo" class="media"
		  data-src="src/main/resources/templates/google.jpg"
		  style="width: 200px; position:absolute; top:30px; right:5px; "
		/>
	</TD></TR></TABLE>
<TABLE WIDTH = "100%" BORDER = "0"><TR><TD>
	<H3 style="font-size: 120%; font-weight: 400; text-align: left;">
		Google Inc <br />
		Belgrave House <br />
		76 Buckingham Palace Road <br />
		London <br />
		SW1W 9TQ <br />
		UK <br />
		<P />
	</H3></TD></TR></TABLE>

<br />

	<H1 style="font-size: 250%; font-weight: 700; text-align: center;">
			{{title}}
	</H1>

<br /><br />

<div class="datagrid">
	<table WIDTH="100%">
		<colgroup>
			<col />
			<col class="altcolour" />
			<col />
			<col class="altcolour" />
			<col />
			<col class="altcolour" />
			<col />
			<col class="altcolour" />
			<col />
			<col class="altcolour" />
			<col />
			<col class="altcolour" />
			<col />
			<col class="altcolour" />
			<col />
			<col class="altcolour" />
		</colgroup>
		<thead>
		<tr>
			<th>Account Name</th>
			<th>AccountId</th>
			<th>Campaign Name</th>
			<th>CampaignId</th>
			<th>AdGroup Name</th>
			<th>AdGroupId</th>
			<th>AdId</th>
			<th>Status</th>
			<th>FeedId</th>
			<th>FeedItemId</th>
			<th>Clicks</th>
			<th>AvgCPC</th>
			<th>AvgCPM</th>
			<th>AvgPos</th>
			<th>ConvRate1</th>
			<th>ConvRateM</th>
		</tr>
		</thead>
		<tbody>
			{{#rows}}
			<tr>
				<td>{{AccountDescriptiveName}}</td>
				<td style="text-align: right;">{{AccountId}}</td>
				<td>{{campaignName}}</td>
				<td style="text-align: right;">{{campaignId}}</td>
				<td>{{adGroupName}}</td>
				<td style="text-align: right;">{{adGroupId}}</td>
				<td style="text-align: right;">{{adId}}</td>
				<td>{{status}}</td>
				<td style="text-align: right;">{{feedId}}</td>
				<td style="text-align: right;">{{feedItemId}}</td>
				<td style="text-align: right;">{{clicks}}</td>
				<td style="text-align: right;">{{avgCpc}}</td>
				<td style="text-align: right;">{{avgCpm}}</td>
				<td style="text-align: right;">{{avgPosition}}</td>
				<td style="text-align: right;">{{conversionRate1}}</td>
				<td style="text-align: right;">{{conversionRateMany}}</td>
			</tr>
			{{/rows}}
		</tbody>
	</table>
</div>
</body>
</html>

		


