*.log

aw-reporting-model/target/*

aw-reporting-model/.classpath

aw-reporting-model/.project

aw-reporting-model/.settings/


aw-reporting/target/*

aw-reporting/.classpath

aw-reporting/.project

aw-reporting/.settings/


examples/kratubackend/target/*

examples/kratubackend/.classpath

examples/kratubackend/.project

examples/kratubackend/.settings


*.DS_Store




