*.log

aw-reporting-model/target/*

aw-reporting-model/.classpath

aw-reporting-model/.project

aw-reporting-model/.settings/


aw-reporting/target/*

aw-reporting/.classpath

aw-reporting/.project

aw-reporting/.settings/


examples/kratubackend/target/*

examples/kratubackend/.classpath

examples/kratubackend/.project

examples/kratubackend/.settings


aw-reporting-server/target/*

aw-reporting-server/.classpath

aw-reporting-server/.project

aw-reporting-server/.settings/


aw-reporting-server-appengine/target/*

aw-reporting-server-appengine/.classpath

aw-reporting-server-appengine/.project

aw-reporting-server-appengine/.settings/


*.DS_Store




