<div id="raw_data_partial" ng-show="!loading_task_count">

  <h2 style="margin-bottom: 20px"> Monthly Statistics for {{ name }} ({{ mccid }}) </h2>

  <div class="alert alert-danger" ng-show="load_error_text" style="margin-top: 30px">
    <p>{{ load_error_text }}</p>
    <p ng-show="load_error == 'no_such_mcc'">
      <a href="/oauth/{{mccid}}"><button class="btn btn-primary"> Add the MCC {{ mccid }} to my list</button></a>
    </p>
  </div>


  <div class="account_row" ng-show="!load_error_text" ng-repeat="chart in charts">

    <h4> {{ chart.chart_data.name}} ({{ chart.chart_data.accountid }}) </h4>

    <div class="chart_collection">

      <div class="chart_holder" style="float: left; margin-right: 10px">
        <div style="text-align: center" class="title"> Impressions </div>
        <canvas id="chart1_{{chart.chart_data.accountid}}" width="200" height="100"></canvas>
      </div>

      <div class="chart_holder" style="float: left; margin-right: 10px">
        <div style="text-align: center" class="title"> Clicks </div>
        <canvas id="chart2_{{chart.chart_data.accountid}}" width="200" height="100"></canvas>
      </div>

      <div class="chart_holder" style="float: left; margin-right: 10px">
        <div style="text-align: center" class="title"> CTR and AvgCPC </div>
        <canvas id="chart3_{{chart.chart_data.accountid}}" width="200" height="100"></canvas>
      </div>

      <div class="chart_holder" style="float: left; margin-right: 10px">
        <div style="text-align: center" class="title"> Cost </div>
        <canvas id="chart4_{{chart.chart_data.accountid}}" width="200" height="100"></canvas>
      </div>

      <div style="clear: left"></div>
    </div>

  </div> <!-- ng-repeat .account_row -->

  <div style="text-align: center">
    <pagination total-items="total_number_items"
                ng-change="pageChanged()"
                ng-model="current_page"
                max-size="max_visible_pages"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"></pagination>
  </div>
</div> <!-- #raw_data_partial -->


<div id="raw_data_partial_loading" class="page_loading" ng-show="loading_task_count">
  <progressbar class="loading_status" type="success" value="TOTAL_LOADING_TASKS - loading_task_count"
               max="TOTAL_LOADING_TASKS">
    Loading {{ TOTAL_LOADING_TASKS - loading_task_count }} of {{ TOTAL_LOADING_TASKS }}
  </progressbar>
</div>


<div style="margin: 20px"></div>
